@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-mono: 'JetBrains Mono', 'Ubuntu Mono', system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #213547;
  text-decoration: inherit;
  padding-left: 0.25rem;
}

a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h6 {
  margin: 0;
  word-break: break-all;
}

p {
  margin: 0;
  font-size: 0.7em;
  letter-spacing: -0.05em;
  word-spacing: -0.2em;
  word-break: break-all;
  /* Breaks at any character */
}

button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  color: #213547;
  font-family: var(--font-mono);
  background-color: rgb(247, 247, 247);
  cursor: pointer;
  transition: border-color 0.1s;
  font-size: 0.7em;
  letter-spacing: -0.05em;
  word-spacing: -0.2em;
}

button:hover {
  text-decoration: underline;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
